# Data Analysis on Netflix

## Import libraries

In [291]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sb

# read CSV file

In [292]:
csvfile = pd.read_csv(r"C:netflix_data.csv")
csvfile

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [19]:
csvfile.index

RangeIndex(start=0, stop=6234, step=1)

###  The data types of csv file columns (int, float64, object)

In [21]:
csvfile.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [ ]:
# To know the column labels of the DataFrame use -- columns method

In [23]:
csvfile.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
# Make csv columns first character to Capital

In [39]:
csvfile.columns = map(str.title, csvfile.columns)
print(csvfile)

       Show_Id     Type                                        Title  \
0     81145628    Movie      Norm of the North: King Sized Adventure
1     80117401    Movie                   Jandino: Whatever it Takes
2     70234439  TV Show                           Transformers Prime
3     80058654  TV Show             Transformers: Robots in Disguise
4     80125979    Movie                                 #realityhigh
...        ...      ...                                          ...
6229  80000063  TV Show                                 Red vs. Blue
6230  70286564  TV Show                                        Maron
6231  80116008    Movie       Little Baby Bum: Nursery Rhyme Friends
6232  70281022  TV Show  A Young Doctor's Notebook and Other Stories
6233  70153404  TV Show                                      Friends

                      Director  \
0     Richard Finn, Tim Maltby
1                          NaN
2                          NaN
3                          NaN
4             Fernando Lebrija
...                        ...
6229                       NaN
6230                       NaN
6231                       NaN
6232                       NaN
6233                       NaN

                                                   Cast  \
0     Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1                                      Jandino Asporaat
2     Peter Cullen, Sumalee Montano, Frank Welker, J...
3     Will Friedle, Darren Criss, Constance Zimmer, ...
4     Nesta Cooper, Kate Walsh, John Michael Higgins...
...                                                 ...
6229  Burnie Burns, Jason Saldaña, Gustavo Sorola, G...
6230  Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...
6231                                                NaN
6232  Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
6233  Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...

                                       Country Date_Added  Release_Year  \
0     United States, India, South Korea, China   9-Sep-19          2019
1                               United Kingdom   9-Sep-16          2016
2                                United States   8-Sep-18          2013
3                                United States   8-Sep-18          2016
4                                United States   8-Sep-17          2017
...                                        ...        ...           ...
6229                             United States        NaN          2015
6230                             United States        NaN          2016
6231                                       NaN        NaN          2016
6232                            United Kingdom        NaN          2013
6233                             United States        NaN          2003

        Rating    Duration                                          Listed_In  \
0        TV-PG      90 min                 Children & Family Movies, Comedies
1        TV-MA      94 min                                    Stand-Up Comedy
2     TV-Y7-FV    1 Season                                           Kids' TV
3        TV-Y7    1 Season                                           Kids' TV
4        TV-14      99 min                                           Comedies
...        ...         ...                                                ...
6229        NR  13 Seasons  TV Action & Adventure, TV Comedies, TV Sci-Fi ...
6230     TV-MA   4 Seasons                                        TV Comedies
6231       NaN      60 min                                             Movies
6232     TV-MA   2 Seasons           British TV Shows, TV Comedies, TV Dramas
6233     TV-14  10 Seasons                     Classic & Cult TV, TV Comedies

                                            Description
0     Before planning an awesome wedding for his gra...
1     Jandino Asporaat riffs on the challenges of ra...
2     With the help of three human allies, the Autob...
3     When a prison ship crash unleashes hundreds of...
4     When nerdy high schooler Dani finally attracts...
...                                                 ...
6229  This parody of first-person shooter games, mil...
6230  Marc Maron stars as Marc Maron, who interviews...
6231  Nursery rhymes and original music for children...
6232  Set during the Russian Revolution, this comic ...
6233  This hit sitcom follows the merry misadventure...

[6234 rows x 12 columns]

In [42]:
csvfile

,Show_Id,Type,Title,Director,Cast,Country,Date_Added,Release_Year,Rating,Duration,Listed_In,Description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [ ]:
# Remove null values from DataFrame

In [44]:
 dropNullValues = csvfile.dropna()

In [ ]:
# After removing the null values the DataFrame have below rows

In [45]:
dropNullValues

,Show_Id,Type,Title,Director,Cast,Country,Date_Added,Release_Year,Rating,Duration,Listed_In,Description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",8-Sep-17,2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,8-Sep-17,2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",8-Sep-17,2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...
...,...,...,...,...,...,...,...,...,...,...,...,...
6142,80063224,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"August 30, 2019",2019,TV-PG,7 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
6158,80164216,TV Show,Miraculous: Tales of Ladybug & Cat Noir,Thomas Astruc,"Cristina Vee, Bryce Papenbrook, Keith Silverst...","France, South Korea, Japan","August 2, 2019",2018,TV-Y7,4 Seasons,"Kids' TV, TV Action & Adventure","When Paris is in peril, Marinette becomes Lady..."
6167,80115328,TV Show,Sacred Games,"Vikramaditya Motwane, Anurag Kashyap","Saif Ali Khan, Nawazuddin Siddiqui, Radhika Ap...","India, United States","August 15, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",A link in their pasts leads an honest cop to a...
6182,80176842,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",South Korea,"April 9, 2019",2019,TV-14,4 Seasons,"International TV Shows, Korean TV Shows, Stand...",Male celebs play make-believe as high schooler...
6213,80126599,TV Show,Leyla and Mecnun,Onur Ünlü,"Ali Atay, Melis Birkan, Serkan Keskin, Ahmet M...",Turkey,"April 15, 2017",2014,TV-PG,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Destiny brings Mecnun and Leyla together as ne...

In [ ]:
# Show unique rows and columns

In [118]:
dropDuplicateValues = dropNullValues.drop_duplicates(keep='first')
dropDuplicateValues

,Show_Id,Type,Title,Director,Cast,Country,Date_Added,Release_Year,Rating,Duration,Listed_In,Description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",8-Sep-17,2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,8-Sep-17,2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",8-Sep-17,2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...
...,...,...,...,...,...,...,...,...,...,...,...,...
6142,80063224,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"August 30, 2019",2019,TV-PG,7 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
6158,80164216,TV Show,Miraculous: Tales of Ladybug & Cat Noir,Thomas Astruc,"Cristina Vee, Bryce Papenbrook, Keith Silverst...","France, South Korea, Japan","August 2, 2019",2018,TV-Y7,4 Seasons,"Kids' TV, TV Action & Adventure","When Paris is in peril, Marinette becomes Lady..."
6167,80115328,TV Show,Sacred Games,"Vikramaditya Motwane, Anurag Kashyap","Saif Ali Khan, Nawazuddin Siddiqui, Radhika Ap...","India, United States","August 15, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",A link in their pasts leads an honest cop to a...
6182,80176842,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",South Korea,"April 9, 2019",2019,TV-14,4 Seasons,"International TV Shows, Korean TV Shows, Stand...",Male celebs play make-believe as high schooler...
6213,80126599,TV Show,Leyla and Mecnun,Onur Ünlü,"Ali Atay, Melis Birkan, Serkan Keskin, Ahmet M...",Turkey,"April 15, 2017",2014,TV-PG,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Destiny brings Mecnun and Leyla together as ne...

In [ ]:
# find a movie name which has max duration

In [266]:
sortValues = dropDuplicateValues.sort_values(by = 'Duration' , ascending=True )
sortValues.head()

,Show_Id,Type,Title,Director,Cast,Country,Date_Added,Release_Year,Rating,Duration,Listed_In,Description
2085,80171733,Movie,Roxanne Roxanne,Michael Larnell,"Chanté Adams, Mahershala Ali, Nia Long, Elvis ...",United States,23-Mar-18,2018,TV-MA,100 min,Dramas,She grew up in a tough New York neighborhood i...
1978,70100381,Movie,Bedtime Stories,Adam Shankman,"Adam Sandler, Keri Russell, Guy Pearce, Russel...",United States,5-Mar-19,2008,PG,100 min,"Children & Family Movies, Comedies",Skeeter's life is turned upside down when the ...
4844,70012316,Movie,InuYasha the Movie: Affections Touching Across...,Toshiya Shinohara,"Kappei Yamaguchi, Satsuki Yukino, Koji Tsujita...",Japan,25-Aug-18,2001,TV-MA,100 min,"Action & Adventure, Anime Features, Internatio...",A powerful demon has been sealed away for 200 ...
5356,80112518,Movie,"I, Daniel Blake",Ken Loach,"Dave Johns, Hayley Squires, Briana Shann, Dyla...","United Kingdom, France, Belgium",19-Apr-19,2016,R,100 min,"Dramas, Independent Movies",While fighting for his welfare benefits follow...
1970,60037606,Movie,Benji: Off the Leash,Joe Camp,"Nick Whitaker, Chris Kendrick, Randall Newsome...",United States,6-Mar-18,2004,PG,100 min,"Children & Family Movies, Dramas",Benji is back in this charming story that's to...

In [343]:
import matplotlib.pyplot as plot
import seaborn as sb

In [344]:
sns.set()

In [424]:
# Find a movie name which has highest duration

In [439]:
sortValues[['Title', 'Release_Year', 'Duration']].sort_values(by=['Release_Year'], ascending=True).head(5)

                                         Title  Release_Year Duration
2085                           Roxanne Roxanne          2018  100 min
313                         Olmo & the Seagull          2018   82 min
4276                            Fun Mom Dinner          2018   82 min
2170                            Chicken Little          2018   82 min
4011  Cats & Dogs: The Revenge of Kitty Galore          2018   82 min

In [421]:
sortValues['Duration'].max()

'99 min'

In [428]:
sortValues.groupby(['Title', 'Release_Year'])

In [ ]:
s2 = data4.groupby("School State")["Donation Amount"].mean().sort_values(ascending = False).head(10)